// @Package : TMTGulp

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
    background-color: $white;
    outline: none;
    color: $gray;
    width: 100%;
    margin: 0;
    padding: 10px;
    min-height: 55px;
    font-size: 14px;
    border: 1px solid $graylight;
    @include placeholder-color($gray);
    .ie8 & {
        min-height: 55px;
    }
}

textarea {
    min-height: 210px;
    resize: none;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 300;
    @include placeholder-color($gray);
    .ie & {
        height: 188px;
    }
}
