// @Package : TMTGulp
// Mixins, here's where we're adding our magical helpers

@mixin placeholder-color( $color : $black ) {
    &:-moz-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
}

@mixin font-icon( $valign : middle, $display : inline-block, $content : "" ) {
    font-family: $fontIconName;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: $display;

    @if $content != "" {
        content: $content;
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}
