// @Package : TMTGulp
// Globals, the name says it all

body {
    position: relative;
    background: $black;
    font-size: 16px;
    line-height: 24px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    &.lock-body {
        overflow: hidden;
    }
}

* {
    transition: all 0.2s linear;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
}

img[height] {
    height: auto;
}

// ::-moz-selection {
// 	// background: $pistach;
// 	// color: $white;
// }

// ::selection {
// 	// background: $pistach;
// 	// color: $white;
// }
